*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-left: 16px;
    background: transparent;
    padding: 10px;
    border-radius: none;
}

nav ul li:hover{
    background: red;
    border-radius: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    background: black;
    color: white;
    position: sticky;
}

.btn:hover{
    background: red;
}

.container{
    max-width: 1300px;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0; 
}

.header{
    background: radial-gradient(white,black);
}

.header .row{
    margin-top: 90px;
    padding-right: 90px;
}

.col-3{
    width: 300px;
    margin-bottom: 30px;
    padding: 10px;
}

.small-Container{
    max-width: 1000px;
    margin: auto;
    padding-left: 70px;
    padding-right: 25px;
    background: radial-gradient(white,black);
    border-radius: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.col-3 img{
    width: 80%;
    height: 200px;
    border-radius: 20px;
}

.feed{
    line-height: 60px ;
    text-align: center;
    padding-top: 30px;
    color: white;   
}

h4{
    color: white;
    font-weight: normal;
}

.bu:hover{
    background-color: aqua;
}

.bu{
    width: 90px;
    border-radius: 30px;
    text-decoration: none;
}